@page "/dashboard"

@using BlazorApp1.Shared



<h1>Factures</h1>
<table>
    <tr>

        <th>| Total réglé |  </th>
        <th>| Total restant | </th>

    </tr>

<tr>
 
    
    <td>data.TotalPayé</td>
    <td>data.TotalManquant</td>


    <td></td>
</tr>
</table>
@code {

}
